body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#infoDisplay {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.card-img-top {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}


